<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>About - Mangaread</title>
	<link rel="stylesheet" href="../css/style.css" type="text/css">
</head>
<body>
	<div id="header">
		<div>
			<div class="logo">
				<a href="/">MangaRead</a>
			</div>
			<ul id="navigation">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="features">Manga</a>
				</li>
				<li class="active">
					<a href="news">News</a>
				</li>
				<li>
					<a href="about">About</a>
				</li>
				<li>
					<a href="contact">Profile</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="contents">
		<div id="about">
			<h1>About</h1>
			<h2>Our team</h2>
			<p>
				We are working with <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Terms of Use</a>. If any question occurred don't hesitate to contact us
			</p>
			<h2>Our contacts</h2>
			<p>
				Our numbers and emails will go here <a href="">WITHIN WEB</a>
			<form action="index.ejs" method="post" class="message">
				<input type="text" value="Name" onFocus="this.select();" onMouseOut="javascript:return false;"/>
				<input type="text" value="Email" onFocus="this.select();" onMouseOut="javascript:return false;"/>
				<input type="text" value="Subject" onFocus="this.select();" onMouseOut="javascript:return false;"/>
				<textarea></textarea>
				<input type="submit" value="Send"/>
			</form>
			</p>

			<h2>Donation system</h2>
			<p>
				 API goes here
			</p>
			<h2>Credits to helpers</h2>
			<p>
				Goes here
			</p>
		</>
	</div>
	<div id="footer">
		<div class="clearfix">
			<div id="connect">
				<a href="" target="_blank" class="facebook"></a><a href="" target="_blank" class="googleplus"></a><a href="" target="_blank" class="twitter"></a><a href="" target="_blank" class="tumbler"></a>
			</div>
			<p>
				© 2022 Mangaread
			</p>
		</div>
	</div>
</body>
</html>