<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>Features - Mangaread</title>
	<link rel="stylesheet" href="../css/style.css" type="text/css">
</head>
<body>
	<div id="header">
		<div>
			<div class="logo">
				<a href="/">MangaRead</a>
			</div>
			<ul id="navigation">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="features">Manga</a>
				</li>
				<li class="active">
					<a href="news">News</a>
				</li>
				<li>
					<a href="about">About</a>
				</li>
				<li>
					<a href="contact">Profile</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="contents">
		<div class="features">
			<h1>Manga</h1>
			<div>
				<img src="../images/aot.jpg" alt="Img">
				<h2>Attack On Titan</h2>
				<p>
					Read now!
				</p>
				<h2>Plot</h2>
				<p>
					At the center of the events of "Attack of the Titans" are three heroes: Eren Yeager, his adopted sister Mikasa Ackerman and their childhood friend Armin Arlert. At the beginning of the manga, the Titans, led by the previously unseen intelligent Colossal Titan and Armored Titan, invade their home district of Shigansin, breaking through the gate in the outer wall. Eren and Mikasa's mother dies, and they themselves, along with Armin, are forced to seek shelter behind the inner walls. At the same time, Eren's father, Grisha Yeager.
				</p>
				<span><a href="post.ejs" class="more">Read now!</a></span>
			</div>
			<div>
				<img src="../images/ds.jpg" alt="Img">
				<h2>Demon Slayer</h2>
				<p>
					Read now!
				</p>
				<h2>Plot</h2>
				<p>
					The manga is set in the Japanese hinterland in the Taisho era. One day, the main character — a young charcoal merchant Tanjiro Kamado — was forced to stay because of bad weather in the city where he sold his goods. Returning home, he discovers that his mother, younger brothers and sister died as a result of an attack by demons, in the existence of which Tanjiro did not believe before. The only survivor of this incident is his closest sister Nezuko, who was infected with demonic blood and turned into a demon herself, but managed to retain part of her human consciousness. Not wanting to leave his sister in trouble, Tanjiro decides to become a demon hunter in order to find a way for these creatures to make Nezuko a man again
				</p>
				<span><a href="post.ejs" class="more">Read now!</a></span>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="clearfix">
			<div id="connect">
				<a href="" target="_blank" class="facebook"></a><a href="" target="_blank" class="googleplus"></a><a href="" target="_blank" class="twitter"></a><a href="" target="_blank" class="tumbler"></a>
			</div>
			<p>
				© 2022 Mangaread
			</p>
		</div>
	</div>
</body>
</html>