<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>News - Mangaread</title>
	<link rel="stylesheet" href="../css/style.css" type="text/css">
</head>
<body>
	<div id="header">
		<div>
			<div class="logo">
				<a href="/">MangaRead</a>
			</div>
			<ul id="navigation">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="features">Manga</a>
				</li>
				<li class="active">
					<a href="news">News</a>
				</li>
				<li>
					<a href="about">About</a>
				</li>
				<li>
					<a href="contact">Profile</a>
				</li>
			</ul>
		</div>
	</div>
	<div id="contents">
		<div class="main">
			<h1>News</h1>
			<ul class="news">
				<li>
					<div class="date">
						<p>
							<span>04</span>
							2022
						</p>
					</div>
					<h2>Last episode <span>Attack on Titan</span></h2>
					<p>
						This all took place off-screen between the third and fourth seasons, and it was finally shown in detail during Final Season Part 2's finale. In a voiceover, Mikasa questions whether Eren was "this way from the start." <span><a href="post.ejs" class="more">Read More</a></span>
					</p>
				</li>
				<li>
					<div class="date">
						<p>
							<span>02</span>
							2022
						</p>
					</div>
					<h2>OVA <span>Demon Slayer</span></h2>
					<p>
						A second season of the anime series, readapting the "Mugen Train" arc seen in the film in seven episodes, and covering the "Entertainment District" arc from the manga in eleven episodes, aired from October 2021 to February 2022. A third season covering the "Swordsmith Village" arc has been announced. <span><a href="post.ejs" class="more">Read More</a></span>
					</p>
				</li>
				<li>
					<div class="date">
						<p>
							<span>04</span>
							2022
						</p>
					</div>
					<h2>New chapter<span>Boruto</span></h2>
					<p>
						Some sort of information <span><a href="post.ejs" class="more">Read More</a></span>
					</p>
				</li>
			</ul>
		</div>
		<div class="sidebar">
			<h1>Popular Posts</h1>
			<ul class="posts">
				<li>
					<h4 class="title"><a href="post.ejs">Boruto</a></h4>
					<p>
						Interesting information goes here with API
					</p>
				</li>
				<li>
					<h4 class="title"><a href="post.ejs">One Piece</a></h4>
					<p>
						Interesting information goes here with API
					</p>
				</li>
				<li>
					<h4 class="title"><a href="post.ejs">Bleach</a></h4>
					<p>
						Interesting information goes here with API
					</p>
				</li>
			</ul>
		</div>
	</div>
	<div id="footer">
		<div class="clearfix">
			<div id="connect">
				<a href="" target="_blank" class="facebook"></a><a href="" target="_blank" class="googleplus"></a><a href="" target="_blank" class="twitter"></a><a href="" target="_blank" class="tumbler"></a>
			</div>
			<p>
				© 2022 Mangaread
			</p>
		</div>
	</div>
</body>
</html>